<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Crypto Dashboard</h1>
    
    <div>
        <a href="{{ url_for('main.list_cryptos') }}">Listagem de Criptomoedas</a>
        <a href="{{ url_for('main.search') }}">Pesquisar Criptomoeda</a>
    </div>
</body>
</html>
